[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
autoflake = "*"
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.10"
